.grande,.mediano,.chico{
    width:300px;
    height:300px;
    border:1px solid gray ;
}
.grande{
    background-color:aquamarine;
}
.mediano{
    background-color:peru;
}
.chico{
    background-color :lawngreen;
}
@media screen and (max-width:900px){
    .grande{
        background-color :blue;
    }
}
@media screen and (max-width:768px){
    .mediano{
        background-color :purple;
    }
}
@media screen and (max-width:480px){
    .chico{
        background-color :black;
        font-size:40px;
    }
}
